
<form class="form-form" method="POST" action="add_blog">
  <div class="blog-form">
    <div class="title-form">
      <label class="form-label" for="title">Title</label>
      <input class="form-input" type="text" name="title" id="title" placeholder="Title">
    </div>
    <div class="content-form">
      <label class="form-label" for="content">Content</label>
      <textarea class="form-inputarea" name="content" id="content" placeholder="Content"></textarea> 
    </div>
    <div class="blog-submit-form">
      <div class="login-button-form">
        <button class="btn btn-primary">Submit</button>
      </div>    
    </div>
  <div>
</form>