
<form class="form-form" method="POST" action="login">
  <div class="login-form">
    <div class="username-form">
      <label class="form-label" for="username">Username</label>
      <input class="form-input" type="text" name="username" id="username" placeholder="Userame">
    </div>
    <div class="password-form">
      <label class="form-label" for="password">Password</label>
      <input class="form-input" type="password" name="passwd" id="password" placeholder="Password">
    </div>
    <div class="button-form">
      
      <div class="login-button-form">
        <button class="btn btn-primary">Login</button>
      </div>
      
    </div>
  <div>
</form>